.currency {
  text-align: start;
  padding: 40px 0;
  min-height: calc(100vh - 120px);
  .paper {
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    .currency__Title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-size: 16px;
        font-weight: 600;
        color: #615e5e;
      }
    }
  }
}