button {
  position: relative;
  background-color: rgb(230 230 230 / 57%);
  border-radius: 6px;
  border: 0;
  height: 34px;
  min-width: 28px;
  color: #615e5e;
  cursor: pointer;
  &:hover {
    background-color: rgba(180, 223, 250, 0.41);
  }
  &:active {
    background-color: rgba(180, 223, 250, 0.41);
  }
  &:disabled {
    cursor: auto;
    background-color: rgba(94, 87, 87, 0.25);

    &:hover {
      background-color: rgba(94, 87, 87, 0.25);
    }
    &:active {
      background-color: rgba(94, 87, 87, 0.25);
    }
    &::after {
      content: ' ';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(94, 87, 87, 0.25);
      border-radius: 6px;
    }
  }
}
.active {
  background-color: rgb(114 177 255 / 39%);
}